:root {
    --main-text-color: #bb3f3a;
    --second-text-color: #a2a5ac;
  }
  
  #wrapper .primary-text {
    color: var(--main-text-color);
  }
  
  .list-group .second-text {
    color: var(--second-text-color);
  }
  
  #wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(
      to right,
      #fc9999,
      #e69595,
      #f5aaaa,
      #f8b7b7,
      #f1bebe
    );
  }
  
  #sidebar-wrapper {
    z-index: 1;
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  .list-group .list-category {
    font-size: 12px;
    padding-top: 10px;
    padding-left: 17px;
    color: var(--second-text-color);
    text-transform: uppercase;
  }
  
  .list-group .list-group-item {
    border: none;
    padding: 8px 30px;
    color: rgb(56, 56, 56);
  }
  
   .list-group .list-group-item.active {
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 110%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -17.7rem;
    }
  } /** END OF SIDEBAR & TOP BAR STYLE**/

  /** **/