:root {
    --main-text-color: #bb3f3a;
    --second-text-color: #91949b;
  }
  
  #wrapper .primary-text {
    color: var(--main-text-color);
  }
  
  .list-group .second-text {
    color: var(--second-text-color);
  }
  
  #wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(
      to right,
      #f5f5f5,
      #ffffff,
      #f7f7f7,
      #ffffff,
      #ffffff
    );
  }
  
  #sidebar-wrapper {
    z-index: 1;
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  .list-group .list-category {
    font-size: 12px;
    padding-top: 10px;
    padding-left: 17px;
    color: var(--second-text-color);
    text-transform: uppercase;
  }
  
  .list-group .list-group-item {
    border: none ;
    padding: 9px 30px;
    color: var(--second-text-color);
    transition: margin-left 0.3s ease, color 0.3s ease;
  }
  
   .list-group .list-group-item.active {
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }

  #wrapper .list-group .list-group-item:hover {
    color: var(--main-text-color);
    margin-left: 20px ;

  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 110%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -17.7rem;
    }
  } /** END OF SIDEBAR & TOP BAR STYLE**/



  /** **/

  .page-content-wrapper{
    
  }
  .content-wrapper{
    padding: 1px 30px;
    
  }
  #page_heading_title{
    padding-top: 21px;
    color: var(--second-text-color);
    padding-bottom: 20px;
  }
  .content-wrapper .card {
    border-right: none;
    border-top:none;
    border-bottom:none;
  }
  .content-wrapper .card-body {
    padding: 20px 20px 5px 20px;
  }
  .content-wrapper .card-view {
    text-decoration: none;
  }
  .content-wrapper .card-view:hover {

    text-decoration: underline;
  }
  /** table **/
  .content-wrapper table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
    
  }
  .col-table {
    overflow-x: auto;
    width: 100%;
    height: 100vh;
  }
  .content-wrapper .table-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: rgb(235, 235, 235);
    padding: 22px;
    margin-bottom: 10px;
    border-radius: 16px;
  }
   #studentTable th,#facultyTable th{
    background-color: var(--main-text-color);
    color: #ffffff;
  }
  #studentTable th,#studentTable td,#facultyTable th,#facultyTable td {
    padding: 10px 20px;
    text-align: left;
   
  }
  #studentTable tr:hover ,#studentTable tr:nth-child(even):hover{
    background-color: rgb(27, 60, 75);
    color: white;
  }
  #studentTable tr,#facultyTable tr {
    border-radius: 20px;
    background-color:rgb(224, 224, 224) ;
  }
  #studentTable tr:nth-child(even) {
   background-color: #f2f2f2;
  }
  #studentTable td {
    font-weight: 500;
  }
  .table-container .st_no_s {
    background-color:rgb(224, 224, 224);
    text-align: center;
  }